/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset^^^*/

body{
    font-size: 62.5;
    box-sizing: border-box;
}

header {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/09/09/17/desktop-1245714__480.jpg');
    color:rgb(182, 136, 182);
    height: 20rem;
    border: .25rem solid  rgb(182, 136, 182);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.header-nav{
    background-color: lavender;
    padding: .5rem;
    border: .25rem solid  rgb(182, 136, 182);
    flex-direction: column;
    align-content: center;
}

h1{font-size: 2.5rem;
   color: rgb(182, 119, 182);   
}

header button{
    background-color: rgb(158, 201, 186);
    padding: .5rem;
    color: rgb(168, 105, 168);
    border-radius: .5rem;
    text-align: center;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    border:  .25rem solid  rgb(182, 136, 182);
    
}

main{
    border-color: rgb(182, 136, 182);
    background-color: lavender;

}

.middle-content{
    display:flex;
    justify-content: center;
    align-items:center;
    max-width: auto;
    padding: 10rem;
    }

.profile-pic {
    border: 1.5rem solid rgb(182, 136, 182);
    width: 15rem;
    border-radius: 100%;
}

.bio-section{
    flex-direction: column;
    justify-content: space-around;
    max-width: 25%;
    padding-left: 2rem;
}

main p{
   font-style: italic;
   flex-direction: column;
  
}

main a{
    text-decoration: none;
    border: solid crimson;
    color: white;
    padding: 0rem;
    background-color: crimson;
    border-radius: 7%;
}

.portfolio-section1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    color: crimson;
    background-color: rgb(133, 202, 179);
    font-size: 1.5rem;
}

.portfolio-section2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2015/01/09/02/45/laptop-593673__340.jpg');
    color: crimson;
    font-size: 1.5rem;
}

footer {
    opacity: 87%;
    padding-top: 2rem;
    height: 10rem;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/19/15/32/laptop-1839876__340.jpg');
}

footer a{
    text-decoration: none;
    border: solid crimson;
    color: white;
    padding: .5rem;
    background-color: crimson;
    border-radius: 7%;
}

footer p{
    color: white;
    background-color:crimson;
}

#pic2 {
    border: 5px solid crimson;
    width: 10rem;
    }

#pic3{
    border: 5px solid crimson;
    width: 10rem;
    }

#pic4{
    border: 5px solid crimson;
    width: 10rem;
}

#pic5{
    border: 5px solid crimson;
    width: 10rem;
}



